* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: hsl(0, 0%, 100%);
  --secondary-color: hsl(0, 0%, 50%);
  --background-color: hsl(0, 0%, 10%);
  --tertiary-color: hsl(0, 0%, 90%);
  --medium-accent-color: hsl(240, 100%, 60%);
}
.light-mode {
  --primary-color: hsl(0, 0%, 10%);
  --background-color: hsl(0, 0%, 100%);
  .app-name-background {
    color: var(--primary-color);
    text-transform: capitalize;
  }

  .toggle {
    background-image: url("./night-mode.png");
    background-color: var(--background-color);
    box-shadow: 0 0 5px var(--secondary-color);
  }
  .duration {
    background-color: var(--tertiary-color);
  }
  .details {
    border-left: 3px solid var(--secondary-color);
  }
  .education-icon {
    background-image: url("./graduation-cap-solid (1).svg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
  }
  .experience-icon {
    background-image: url("./briefcase-solid (3).svg");
    height: 100%;
    width: 100%;
  }
  .email {
    background-image: url("./envelope-solid (1).svg");
    height: 20px;
    width: 20px;
    object-fit: cover;
  }
  .phone {
    background-image: url("./phone-solid (1).svg");
    height: 20px;
    width: 20px;
    object-fit: cover;
  }
  .project:hover {
    box-shadow: 0 0 16px var(--secondary-color);
    cursor: pointer;
  }
  
}
.dark-mode {
  --primary-color: hsl(0, 0%, 100%);
  --background-color: hsl(0, 0%, 10%);
}
body {
  font-family: "Public Sans", sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
span {
  color: var(--medium-accent-color);
}
